@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-color: #282828;
  --gray-color: #92929d;
  --primary-color: #8c8a82;
  --primary-color-transparent: rgba(140, 138, 130, 0.25);
  --background-color: #ffffff;
  --terciary-color: #464541;
}

* {
  font-family: "Poppins", sans-serif;
}

*:focus {
  outline: none;
}
